* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
}
header, main, footer {
    border: rgba(0, 0, 0, 0) solid 1px;
    width: 1040px;
    margin: 0 auto;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header{
    height:120px;
}
main{
    padding-bottom: 100px;
}
footer{
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}

body {
    background-color: #380577;
    color: white;
}

.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}

#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}

.services_item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}

.services_img {
    width: 240px;
    border: white solid 3px;
    border-radius: 10px 10px;
    box-shadow: 0 0 20px black;
}

.friends-company {
    border: white solid 3px;
    border-radius: 10px 10px;
    box-shadow: 0 0 15px black;
}

.services {
    padding: 35px;
    border: cornsilk solid 0px;
}

.services a {
    color: pink;
    text-decoration: none;
}

.services a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section {
    border: rgba(0, 0, 0, 0) solid 1px;
}

.h1--invisible {
    visibility: hidden;
}

.company {
    margin-left: 200px;
    margin-right: 200px;
    width: 500px;
    margin: 0 auto
}

.info {
    text-align: center;
    margin-bottom: 40px;
    width: 210px;
}

p, h3 {
    margin-bottom: 10px;
}

.underline {
    text-decoration: underline;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}

.pink {
    color: pink;
}

.footer_block {
    display: inline-block;
    width: 335px;
    text-decoration: uppercase;
    margin-top: 350px;
}

.footer_icons {
    display: inline-block;
    width: 335px;
}

.footer_icons {
    text-align: right;
    margin-left: 10px;
}

.footer_img {
    width: 50px;
}

header, footer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

mark {
    background-color: #e0fd3e;
}

body {
    font-family: 'Oswald', sans-serif;
}

.sansserif {
    font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

header {
    font-family: 'Lucida Sans', 'Courier', sans-serif;
}

#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#mainnav li {
    display: inline;
}

#mainnav a {
    text-decoration: none;
}

#mainnav a:hover {
    text-decoration: underline;
}

#mainnav li.active a {
    font-weight: bold;

}

.footer_block:nth-child(2) {
    text-align: center;
}

.new::after {
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: violet;
    border-radius: 2px;
    padding: 2px;
    margin-left: 5px;
}

.section-base {
  padding: 20px;
  margin-bottom: 30px;
}

.article-base {
  border: 1px solid #ccc;
  padding: 15px;
}

table {
    border-collapse: collapse;
    max-width: 1040px;
}

thead th{
    border-top: 5px solid #f60ad5;
    border-bottom: 5px solid #f60ad5;
}

.price th:first-child {
    width: 10%;
}

.price th:nth-child(2), .price th:last-child {
    width: 25%;
}

.usluga-table {
    text-align: center;
}

td {
    margin: 10px;
    padding: 10px;
}

tr:nth-child(odd) {
  background-color: #380577;
}

tr:nth-child(even) {
  background-color: rgb(187, 128, 138);
}

tr:hover {
  background-color: #ffffff94;
}

a {
    text-decoration: none;
    color: white;
}

label {
    font-style: italic;
}

button {
    text-transform: uppercase;
    font-size: italic;
    font-style: italic;
}

#contact-form input[type="text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}

#contact-form input[type="email"], input[type="tel"], input[type="date"], input[type="file"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}

select, textarea {
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #eddfff;
}

#contact-form button[type="submit"] {
    background-color: rgb(95, 42, 155)
}

#contact-form button[type="submit"]:hover {
    background-color: #eddfff;
}


